# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual environments
venv/
env/
.env/
.venv/
ct_pipeline_env/

# Conda
.conda/

# Data files (large, not for git)
io_data/o_data/pointclouds/*.ply
io_data/o_data/pointclouds/raw/*.ply
io_data/o_data/pointclouds/union/*.ply

io_data/o_data/models/*.glb
io_data/o_data/models/raw/*.glb
io_data/o_data/models/union/*.glb
io_data/o_data/models/merged/*.glb
io_data/o_data/models/merged/*.bak
io_data/o_data/models/merged/*.bak1
io_data/o_data/models/merged/*.bak2
io_data/o_data/models/merged/*.bak3

io_data/i_data/ct_data/ima/*/*.IMA

io_data/i_data/ct_data/nii_gz/*/*.nii.gz
io_data/i_data/ct_data/nii_gz/*/*/*.nii.gz

io_data/i_data/reference_data/*.ply




